.header{
    background-color: lightblue;
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width:100%;
    display: block;
    padding: 60px 0px;
}
.search-container{
    width: 100%;
    text-align: center;
    border-radius: 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-input{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.202);
    margin-top: 2em;
    margin-bottom: 3em;
    border-radius: 60px;
    padding: 3em 4em;
    padding-top: 25px;
}
.search-input input{
    background: transparent;
    float: left;
    border: 0;
    outline: none;
    padding-bottom:40px;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}
.search-input input[type="text"]::placeholder{
    display: flex;
    align-items: center;
}
button{
    font-size: 1.4em;
    padding: 24px 20px;
    margin: -10px 20px 20px 10em;
}
 .submit{ 
    margin-left: 10em;
}
.button-img{
    width: 20px;
}
.news-identifier{
    font-size: 2em;
}
.article-list{
    font-size: .6em;
    padding-top: 2em;
    
}
.article-container{
    padding-bottom: 2em;
}